/* body {
    min-height: 2000px;
} */

#TentangKami {
    background-color: #024b36;
    margin-top: -30px;
}

.jumbotron {
    background-color: #024b36;
    color: white;
    padding-top: 6rem;
}

.jumbotron .lead {
    padding-bottom: 1rem;
}

/* #order {
    background-color:#024b36 ;
    color: white;
} */

.container .card {
    background-color: #024b36;
}

section {
    padding-top: 2.5rem;
}




